* {
    font-family: "Nunito", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    background-color: lemonchiffon;
}

#titolo {
    color: gray;
    text-shadow: 4px 4px gainsboro;
}

#backrisultato {
    width: 80rem;
    height: 40rem;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    background-color: lightcoral;
    border-radius: 15px;
}

.prisultato {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.personauno {
    width: 13rem;
    height: 16rem;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: blanchedalmond;
}